<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oracleclub.server.dao.DepartmentMapper">
    <resultMap id="departmentMap" type="Department">
        <id property="id" column="id"/>
        <result property="name" column="dep_name"/>
        <result property="aliasName" column="dep_alias_name"/>
        <result property="content" column="dep_content"/>
    </resultMap>

    <resultMap id="departmentVOMap" type="DepartmentVO">
        <id property="id" column="did"/>
        <result property="name" column="dep_name"/>
        <result property="aliasName" column="dep_alias_name"/>
        <result property="content" column="dep_content"/>
    </resultMap>

    <select id="getAllExist" resultMap="departmentMap">
        SELECT
        id,
        name as dep_name,
        alias_name as dep_alias_name,
        content as dep_content
        FROM
        departments
        WHERE
        deleted_at IS NULL
    </select>
</mapper>
